@import "../../styles/scss/mixins/mediaQuery";

.FixFirstImage {
  background: url('/static/img/banner.jpg');
  background-size: cover;
}

.Slider {
  &__Button {
    padding: 15px;
    border: none;
    background: none;

    &--disabled {
      color: #d3d3d3;
    }
  }
}

.SliderStatus {
  margin-bottom: 5px;

  &__Circle {
    width: 10px;
    height: 10px;
    border: 1px solid #c5c5c5;
    background: #fff;
    border-radius: 50%;
    margin: auto auto auto 12px;
    text-align: center;
    display: inline-block;
    padding: 0;

    &--active {
      background: #0f4f94;
    }
  }
}
