@import "../../styles/scss/mixins/mediaQuery";
@import "../../styles/scss/mixins/layout";

.PackagePrivilege {
  position: relative;
  @include mobile {
    text-align: start;
  }

  .PrivilegeItem {
    padding: 10px 20px;
    display: inline-block;

    @include mobile {
      display: flex;
      padding: 15px 20px;
    }

    &__Logo {
      height: 30px;
      margin-right: 18px;

      &--wifi {
        height: 37px;
        margin-top: -4px;
        margin-right: 20px;
      }
    }
  }

  .Separator {
    height: 52px;
    width: 2px;
    top: 0;
    border-left: 2px solid #c5c5c5;
    position: absolute;
    display: inline-block;

    @include mobile {
      display: none;
    }
  }

  @include clearFix;
}
