@import "../../styles/scss/helpers";

.ReportPage {
  &__Header {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  &__LoadingIcon {
    margin-left: 10px;
    font-size: 18px;
    color: #bfbfbf;
  }

  &__LoadingButton {
    @extend %remove-button-style;
    float: right;
    cursor: pointer;
  }
}
