@import '../../styles/scss/mixins/mediaQuery';

.PrivilegeContainer {
  .ImageHeader {
    &__Image {
      width: 100%;
    }
  }

  .PrivilegeCategory {
    background: #fff url("/static/img/section-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 50px 10px;

    &__Header {
      font-size: 1.5rem;
      color: #5c5d5e;
      margin-bottom: 0;
    }

    &__HeaderContainer {
      padding: 0 30px;
    }

    &__Footer {
      color: #5c5d5e;
      padding: 0 30px;
    }

    &__Container {
      display: flex;
      justify-content: center;
      padding: 28px 0;
      flex-wrap: wrap;
    }

    &__Image {
      @include desktop {
        height: 130px;
      }

      @include tablet {
        height: 110px;
      }

      @include mobile {
        height: 100px;
      }
      margin: 5px;
    }
  }

  .Privilege {
    background-color: #e0edf3;

    &__HeaderContainer {
      padding: 20px;
      text-align: center;
      background: linear-gradient(to right, #1faee5, #25c5ee 50%, #29d5f4);
      border-radius: 20px;

    }

    &__Header {
      color: #fff;
      margin: 0;
    }

    &__Container {
      padding: 32px 10px;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  .PrivilegeList {
    &__Container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      padding: 20px 0;
    }

    &__Text {
      &--highLight {
        font-size: 24px;
        color: #1eade5;
        position: relative;
        top: 4px;
        margin: 0 5px;
      }
    }

    &__Item {
      width: 49%;
      list-style-type: none;
      background-color: #fff;
      margin: 20px 0;
      height: 100%;

      @include mobile {
        width: 100%;
      }

      &--full {
        width: 100%;
      }
    }

    &__ImageContainer {
      margin-left: -14px;
    }

    &__Term {
      color: #888;
    }

    &__Image {
      width: 100%;
    }

    &__DetailContainer {
      padding: 0 20px;
      border-top: 1px solid #e4e4e4;
    }
  }
}
