@import '../../styles/scss/mixins/layout';

.SubmitButton {
  padding: 10px 25px;
  text-align: start;
  width: 160px;

  @include clearFix;

  &__Icon {
    float: right;
    top: 0;
    transform: translateY(40%);

    &--sync {
      position: relative;
      top: 5px;
    }
  }
}
