.Ribbon {
  position: relative;
  width: 100%;

  &__Container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -20px;
    height: 120px;
    background-color: #fcdb32;
    width: 108%;
    border-radius: 0 60px 60px 0;
    box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.25);
  }

  &__Title {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 3px 4px rgba(97, 97, 97, 0.62);
  }

  &__Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border: 21px solid transparent;
    border-bottom-color: #c2ab25;
    left: 0;
    transform: translate(-100%, -50%) rotate(-90deg);
  }

  &--blue {
    .Ribbon__Container {
      background-color: #135292;
    }

    &::before {
      border-bottom-color: #0d345d;
    }
  }

  &--pink {
    .Ribbon__Container {
      background-color: #e4258e;
    }

    &::before {
      border-bottom-color: #aa1e6c;
    }
  }
}
