@import '../styles/scss/mixins/mediaQuery';

.Link {
    &--a {
        color: inherit;
        &:hover {
            color: inherit;

            @include desktop {
                color: #ccc;
            }
            text-decoration: none;
        }
    }
}
